// Global rules

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}

.header {
  display: flex;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #F95F18;
  font-size: 1.5em;
  height: 80px;
  width: 240px;
  transition: all .5s ease;
}

.header-btn:hover {
  color: black;
}

.header :nth-child(1) {
  border-bottom-left-radius: 90px;
}

.header :nth-child(2) {
  border-bottom-right-radius: 90px;
}

.header-btn.active {
  background-color: #7D4D37;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F95F18;
  height: 80px;
  width: 524px;
  border-radius: 24px;
}

// Homepage

.footer-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 72px;
}

.footer-btn {
  font-size: 1.5em;
  text-decoration: none;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease;
}

.footer-btn:hover {
  color: black;
}

.footer-score {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image-placeholder {
  width: 1280px;
  height: 720px;
  background-color: red;
}

.start-btn {
  width: 400px;
  height: 94px;
  color: white;
  background-color: #F95F18;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 88px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-btn:hover {
  color: black;
}

// Leaderboard page

.footer-current-user, .footer-user-rank, .footer-user-score {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  color: white;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  width: 550px;
  height: 499px;
  border: 16px solid #F95F18;
  border-radius: 36px;
  background-color: #7D4D37;
  padding: 16px;
  color: white;
}

.leaderboard .leaderboard-titles {
  display: flex;
  justify-content: space-between;
}

.leaderboard-data {
  display: flex;
  justify-content: space-between;
}